<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>

<a href="">
	<div class="title">
		<h1><span id="retro">RETRO</span><span id="spective">SPECTIVE</span></h1>
	</div>
</a>