<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>

<div class="title">
  <% if !current_team.nil? %> 
    <%= link_to team_path(current_team) do %> 
      <div class="main-title"><span class="retro">RETRO</span><span class="spective">-SPECTIVE</span></div>
    <% end %> 
  <% else %> 
    <%= link_to teams_path do %> 
      <h1><span class="retro">RETRO</span><span class="spective">-SPECTIVE</span></h1>
    <% end %> 
  <% end %> 
  <p class="definition">"Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what they knew at the time, their skills and abilities, the resources available, and the situation at hand."<br> - Norman Kerth</p>
</div>
