<div class="tl">
	<h3>Room for Improvement</h3>
	<% @one.each do |note| %> 
		<h5 class="note"><%= note.content %></h5>
	<% end %> 
</div>
<div class="tr">
	<h3>More of ...</h3>
	<% @two.each do |note| %> 
		<h5 class="note"><%= note.content %></h5>
	<% end %> 
</div>
<div class="bl">
	<h3>Less of ... </h3>
	<% @three.each do |note| %> 
		<h5 class="note"><%= note.content %></h5>
	<% end %> 
</div>
<div class="br">
	<h3>Positive Experiences</h3>
	<% @four.each do |note| %> 
		<h5 class="note"><%= note.content %></h5>
	<% end %> 
</div>