<div class="tl">
	<h3>Room for Improvement</h3>
	<% @quad = @one %> 
		<%= render "display" %> 
</div>
<div class="tr">
	<h3>More of ...</h3>
	<% @quad = @two %> 
		<%= render "display" %> 
</div>
<div class="bl">
	<h3>Less of ... </h3>
	<% @quad = @three %> 
		<%= render "display" %> 
</div>
<div class="br">
	<h3>Positive Experiences</h3>
	<% @quad = @four %> 
		<%= render "display" %> 
</div>