@import url('https://fonts.googleapis.com/css?family=Lato|News+Gothic|Inconsolata|Droid+Sans|Roboto|Cabin|Open+Sans');

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'open sans', lato, roboto, san-serif;
  word-wrap: break-word;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

/*Changes the nav links on the left to white and nice font*/
nav a {
  font-size: 15px;
  margin-right: 20px;
  color: white;
  font-family: cabin, roboto, sans-serif;
  text-decoration: none;
}

/*Fixes the header to the top*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

/*Undos the great work of bootstrap*/
h1 {
  padding-top: 30px;
  font-size: 85px;
}

/*Colors the Nav non-white and makes it transparent*/
nav {
  background-color: rgba(0, 0, 0, .75);
  max-width: 1280px;
  text-align: right;
  line-height: 52px;
}

/*Fixes the logo and allows the R to be seen*/
.logo {
  position: fixed;
  width: 55px;
  height: 52px;
  background-color: rgb(0,153,153);
}

/*Allows the logo to appear and undos bootstrap*/
.logo h6 {
  top: 0;
  margin: 0px;
  color: white;
  text-align: center;
  font-family: lato, roboto, sans-serif;
  font-size: 50px;
}

/*Centers the main page title */
.title {
  font-family: cabin;
  font-size: 2.6em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 700px;
  width: 100%;
  padding-top: 40px;
  color: black;
}

/*Makes it so even though the main page title is a link, it doesn't highlight like a link*/
.title a {
  text-decoration: none;
  color: black;
}

/*Front page quote style*/
.definition {
  font-style: italic;
  color: rgba(0, 0, 0, .6);
  font-size: .47em;
  background-color: rgba(255, 255, 255, .8);
  padding: 25px;
}

/*Turns the title 'retro' part a different color*/
.title:hover .retro {
  color: rgb(0,153,153);
}

/*Transitions to blur on the title*/
.title:hover .definition, .title:hover .spective {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-transition: color .7s ease-in-out;
  -moz-transition: color .7s ease-in-out;
  -ms-transition: color .7s ease-in-out;
  -o-transition: color .7s ease-in-out;
}

/*Makes the links at the top related to the retro a different color than white*/
.update a {
  color: rgb(0,185,185);
}

/*All the buttons on the notes index like details edit and delete*/
.update-2 a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  border-color: black;
}

/*When you hover on those ^ buttons*/
.update-2 a:hover {
  color: rgb(0,153,153);
  text-decoration: none;
  font-style: italic;
}

/*All the styling for the quadrants*/
.tl { position: absolute; top: 50px; left: 0; right: 50%; bottom: 45%; border: solid rgba(0, 0, 0, .3); border-width: 0 3px 3px 0; }

.tr { position: absolute; top: 50px; left: 50%; right: 0; bottom: 45%; border:solid rgba(0, 0, 0, .3); border-width: 0 0 3px 0; }

.bl { position: absolute; top: 55%; left: 0; right: 50%; bottom: 0; border:solid rgba(0, 0, 0, .3); border-width: 0 3px 0 0; }

.br { position: absolute; top: 55%; left: 50%; right: 0; bottom: 0; }
